.social-icons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 50px;
}

.social-icons img {
  max-width: 30px;
}

.social-icons > img > g > path {
  fill: red;
}
.social-icons_svg {
  transition: filter 0.5s ease;
}

.social-icons_svg:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) brightness(100%);
}
